.popular-div {
  padding-top: 30px;
  height: 500px;

  .popular-title-div {
    display: flex;
    padding: 0 40px;

    h2 {
      margin-right: 20px;
    }

    .popular-selector {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid rgba(3, 37, 65, 1);
      border-radius: 30px;

      h3 {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 1em;
        padding: 4px 20px;
        margin-bottom: 0;
        white-space: nowrap;
        font-weight: 600;
      }

      a {
        color: rgba(3, 37, 65, 1);
      }

      h3.active-popular {
        background: #032541;
        border-radius: inherit;
        height: -webkit-fill-available;
      }
    }
  }
}

a.active-link {
  background: linear-gradient(to right, #c0fecf 0%, #1ed5a9 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.popular-movie {
  display: flex;
  overflow-x: scroll;
  margin-top: 2rem;
  margin-left: 44px;
}
