.mini-card {
  margin: 0 15px 0 0;
  width: 250px;
}
.image-content {
  width: 250px;
  height: 141px;
  cursor: pointer;

  &:hover .release-date {
    visibility: visible;
  }

  img {
    border-radius: 8px;
  }
}
.info-div-recommand {
  margin-top: 4px;
  display: flex;
  justify-content: space-between;

  .name-href {
    color: $primary-color;
    padding-right: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.meta {
  position: relative;
}

.release-date {
  visibility: hidden;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  height: 40px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  top: -44px;
  img {
    width: 16px;
    height: 16px;
  }
  .black-color {
    filter: invert(1);
    margin-right: 4px;
    padding-left: 4px;
  }
  .date-img {
    margin-right: 4px;
  }
}
.action-img {
  margin-left: 75px;
}
.ml {
  margin-left: 145px;
}
.dummy-poster {
  display: block;
  width: 141px;
  position: relative;
  left: 45px;
}
