.single-movie {
  width: 150px;
  margin-right: 1.5rem;
}

.add-border {
  border-radius: 8px;
  border: 1px solid #e3e3e3;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 165px;
}

.movie-img {
  height: 225px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.add-height {
  height: 273px;
}

.movie-content-div {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 26px 10px 12px 10px;
  // height: 170px;
  width: 150px;

  a {
    font-weight: 700;
    background: transparent;
    font-size: 1em;
    color: $primary-color;
  }
}
.remove-height {
  height: auto;
}
.hover-moviename:hover {
  color: rgb(1, 180, 228);
}
