.trending-div {
  padding-top: 30px;
  background: url("./assets/images/bg_graph.svg");
  height: 450px;
  background-repeat: no-repeat;
  background-position-y: 210px;
  position: relative;

  .is-fading:after {
    transition: linear 0.3s;
    opacity: 1;
  }

  .is-not-fading:after {
    transition: linear 0.3s;
    opacity: 0;
  }

  .should-fade:after {
    content: "";
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      #fff 100%
    );
    will-change: opacity;
    pointer-events: none;
  }

  .trending-title-div {
    display: flex;
    padding: 0 40px;

    h2 {
      margin-right: 20px;
    }

    .trending-selector {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid rgba(3, 37, 65, 1);
      border-radius: 30px;

      h3 {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 1em;
        padding: 4px 20px;
        margin-bottom: 0;
        white-space: nowrap;
        font-weight: 600;
      }

      a {
        color: rgba(3, 37, 65, 1);
      }

      h3.active-trending {
        background: #032541;
        border-radius: inherit;
        height: -webkit-fill-available;
      }
    }
  }
}

a.active-link {
  background: linear-gradient(to right, #c0fecf 0%, #1ed5a9 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.trending-movie {
  scroll-behavior: smooth;
  display: flex;
  overflow-x: scroll;
  margin-top: 2rem;
  padding-left: 44px;
}

::-webkit-scrollbar {
  height: 8px; /* height of horizontal scrollbar ← You're missing this */
  width: 10px; /* width of vertical scrollbar */
}

::-webkit-scrollbar-thumb {
  background: rgb(219, 219, 219);
  border-radius: 10px;
  border: 1px solid rgb(219, 219, 219);
}
.border-div {
  background: #dbdbdb;
  overflow: hidden;
  border-radius: 8px;
}
