@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(3, 37, 65);
  height: 64px;
  width: 100%;
  z-index: 10;
  transition: top 0.2s linear;
  margin: 0 auto;
  padding: 0 8rem;
}
.header .left-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .left-navbar a.logo {
  display: block;
  margin-right: 16px;
  height: 20px;
  width: 154px;
}
.header .left-navbar ul.navbar {
  display: flex;
  position: relative;
}
.header .left-navbar ul.navbar li {
  margin-right: 14px;
}
.header .left-navbar ul.navbar li a {
  padding: 0.5rem;
  cursor: pointer;
  color: #ffffff;
  font-weight: 600;
}
.header .right-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .right-navbar ul {
  display: flex;
}
.header .right-navbar ul li:first-child {
  margin: 0;
}
.header .right-navbar ul li {
  margin-left: 30px;
}
.header .right-navbar ul li a {
  color: #ffffff;
  font-weight: 600;
}
.header .right-navbar ul li a img {
  display: block;
  height: 23px;
  width: 23px;
}
.header .right-navbar ul li a img.search-icon {
  display: block;
  height: 29px;
  width: 29px;
}
.header .right-navbar ul li div.translate-lan {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 26px;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 3px 5px;
  color: #ffffff;
  font-size: 0.9em;
}
.header .right-navbar ul li div.translate-lan:hover {
  background: #ffffff;
  color: #000000;
}

.dropdown-menu-tv {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: #ffffff !important;
  border-radius: 4px !important;
  top: 30px;
  display: none;
}

.dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 4px !important;
  top: 30px;
  display: none;
}

a.nav-a {
  color: rgba(33, 37, 41, 0.9) !important;
  display: block;
  padding: 4px 85px 7px 16px !important;
  font-weight: 500 !important;
  white-space: nowrap !important;
  border-radius: inherit !important;
}

.dropdown-movies:hover .dropdown-menu,
.dropdown-tvshow:hover .dropdown-menu-tv {
  display: block;
}

.dropdown-movies,
.dropdown-tvshow {
  position: relative;
  display: inline-block;
}

.dropdown-menu a:hover,
.dropdown-menu-tv a:hover {
  background-color: #ddd;
}

.container {
  max-width: 1300px;
  margin: 4rem auto 0 auto;
}

.hero-div {
  background: green;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: linear-gradient(to right, rgba(3, 37, 62, 0.8) 0%, rgba(3, 37, 62, 0) 100%), url("https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,00192f,00baff)/iNh3BivHyg5sQRPP1KOkzguEX0H.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-div,
.search-div {
  padding: 30px 40px;
}

.title-div {
  margin-bottom: 0px;
  margin-top: 2rem;
  color: #ffffff;
  padding-bottom: 0;
}
.title-div h2 {
  font-size: 3em;
  font-weight: 700;
  line-height: 1;
}
.title-div h3 {
  font-size: 2em;
  font-weight: 600;
  margin: 0;
}

.search-div {
  padding-top: 14px;
  padding-bottom: 3.8rem;
}
.search-div form {
  display: flex;
  position: relative;
  margin-top: 30px;
}
.search-div form .search-input {
  height: 46px;
  width: 100%;
  line-height: 46px;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  outline: none;
}
.search-div form .submit-input {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  border: none;
  padding: 10px 28px;
  background: linear-gradient(to right, #1ed5a9 0%, #01b4e4 100%);
  color: #ffffff;
  border-radius: 30px;
  font-weight: 700;
  cursor: pointer;
  right: 0;
  font-size: 16px;
}
.search-div form .submit-input:hover {
  color: #000000;
}

.trending-div {
  padding-top: 30px;
  background: url("./assets/images/trending-bg.jpeg");
  height: 500px;
  background-repeat: no-repeat;
  background-position-y: center;
}
.trending-div .trending-title-div {
  display: flex;
  padding: 0 40px;
}
.trending-div .trending-title-div h2 {
  margin-right: 20px;
}
.trending-div .trending-title-div .trending-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(3, 37, 65);
  border-radius: 30px;
}
.trending-div .trending-title-div .trending-selector h3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  padding: 4px 20px;
  margin-bottom: 0;
  white-space: nowrap;
  font-weight: 600;
}
.trending-div .trending-title-div .trending-selector a {
  color: rgb(3, 37, 65);
}
.trending-div .trending-title-div .trending-selector h3.active-trending {
  background: #032541;
  border-radius: inherit;
  height: -webkit-fill-available;
}

a.active-link {
  background: linear-gradient(to right, #c0fecf 0%, #1ed5a9 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.trending-movie {
  display: flex;
  overflow-x: scroll;
  margin-top: 2rem;
  padding-left: 44px;
}

::-webkit-scrollbar {
  height: 8px; /* height of horizontal scrollbar ← You're missing this */
  width: 10px; /* width of vertical scrollbar */
}

::-webkit-scrollbar-thumb {
  background: rgb(219, 219, 219);
  border-radius: 10px;
  border: 1px solid rgb(219, 219, 219);
}

.single-movie {
  width: 150px;
  margin-right: 1.5rem;
}

.movie-img {
  height: 225px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.movie-content-div {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 26px 10px 12px 10px;
  height: 170px;
  width: 150px;
}
.movie-content-div a {
  font-weight: 700;
  background: transparent;
  font-size: 1em;
  color: #000000;
}

.hover-moviename:hover {
  color: rgb(1, 180, 228);
}

.popular-div {
  padding-top: 30px;
  height: 500px;
}
.popular-div .popular-title-div {
  display: flex;
  padding: 0 40px;
}
.popular-div .popular-title-div h2 {
  margin-right: 20px;
}
.popular-div .popular-title-div .popular-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(3, 37, 65);
  border-radius: 30px;
}
.popular-div .popular-title-div .popular-selector h3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  padding: 4px 20px;
  margin-bottom: 0;
  white-space: nowrap;
  font-weight: 600;
}
.popular-div .popular-title-div .popular-selector a {
  color: rgb(3, 37, 65);
}
.popular-div .popular-title-div .popular-selector h3.active-popular {
  background: #032541;
  border-radius: inherit;
  height: -webkit-fill-available;
}

a.active-link {
  background: linear-gradient(to right, #c0fecf 0%, #1ed5a9 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.popular-movie {
  display: flex;
  overflow-x: scroll;
  margin-top: 2rem;
  margin-left: 44px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: #03243f;
  padding: 80px 0 80px 0;
}
.footer h3 {
  font-weight: bold;
  font-size: 20px;
  white-space: nowrap;
}
.footer a {
  font-size: 17px;
}
.footer a,
.footer h3 {
  color: #ffffff;
}
.footer .logo-div {
  display: flex;
  flex-direction: column;
  position: relative;
}
.footer .logo-div img {
  position: absolute;
  right: 0;
  bottom: -22px;
}
.footer .logo-div a {
  position: relative;
  top: 102px;
  border-color: #fff;
  background-color: #fff;
  color: rgb(1, 180, 228);
  font-size: 1.3em;
  font-weight: bold;
  display: inline-block;
  word-wrap: break-word;
  white-space: normal;
  padding: 8px 16px;
  border-radius: 5px;
}
.footer .mr {
  margin-right: 40px;
}

.tmdb-footer-logo {
  width: 130px;
}

.circular-div {
  position: absolute;
  top: -22px;
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #081c22;
  border-radius: 50%;
  padding: 2px;
}
.circular-div span {
  position: absolute;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
}
.circular-div span sup {
  font-size: 5px;
}

.container .movies-div {
  width: 100%;
  padding: 30px 40px 40px 30px;
}
.container .movies-div .title {
  width: 100%;
  margin-bottom: 20px;
}
.container .movies-div .title h2 {
  font-size: 1.6em;
}

.content-wrapper .search-movies-div {
  width: 260px;
}
.content-wrapper .search-movies-div .mt {
  margin-top: 12px;
}
.content-wrapper .search-movies-div .border-color-shadow {
  background: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #e3e3e3;
  border-radius: 8px;
}
.content-wrapper .search-movies-div .name {
  display: flex;
  justify-content: space-between;
  padding: 14px 16px;
  align-items: center;
}
.content-wrapper .search-movies-div .name h2 {
  font-size: 1.1em;
}
.content-wrapper .search-movies-div .name img {
  width: 16px;
  transform: rotate(90deg);
}

.more-info-div {
  width: 100%;
  padding: 14px 16px;
  border-top: 1px solid #eee;
}
.more-info-div h3 {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 10px;
}/*# sourceMappingURL=main.css.map */